html{
    font-size: 62.5%;
}
body{
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    color: #575757;
}
a:hover{
    opacity: .7;
    transition: .5s;
}
.header{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    &-inner{
        max-width: 1024px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0 30px;
    }
    &-ttl{
        font-size: 3.2rem;
        font-weight: bold;
        text-align: center;
    }
    &-list{
        display: flex;
        &-item{
            font-size: 2rem;
            &:not(:last-child){
                padding-right: 20px;
            }
        }
    }
}
.burger-btn{
    display: none;
}
.fv{
    width: 100%;
    margin: 80px auto;
    img{
        width: 100%;
        object-fit: cover;
    }
}
.about{
    &-ttl{
        font-size: 4rem;
        font-weight: bold;
        padding-bottom: 50px;
        text-align: center;
    }
    &-inner{
        font-family: "Noto Sans JP", sans-serif;
        padding: 0 30px 50px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-img{
        height: 250px;
        width: 250px;
        border-radius: 150px;
    }
    &-wrapper{
        margin-left: 50px;
    }
    &-me{
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        margin-bottom: 30px;
        dt{
            width: 30%;
        }
        dd{
            width: 70%;
        }
    }
}
.skill{
    &-ttl{
        font-size: 4rem;
        font-weight: bold;
        padding-bottom: 50px;
        text-align: center;
    }
    &-inner{
        font-family: "Noto Sans JP", sans-serif;
        padding: 0 30px 50px;
        margin: 0 auto;
    }
    &-list{
        display: flex;
        justify-content: space-around;
        li{
            display: flex;
            flex-direction: column;
            text-align: center;
            color: #000;
            img{
                width: 80px;
                height: 80px;
            }
        }
    }
}
.works{
    text-align: center;
    &-ttl{
        font-size: 4rem;
        font-weight: bold;
        padding-bottom: 50px;
    }
    &-inner{
        font-family: "Noto Sans JP", sans-serif;
        padding: 0 30px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-box{
        width: calc((100% - 50px) / 3);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        margin-bottom: 50px;
        img{
            width: 100%;
            border-bottom: .5px rgba(0, 0, 0, 0.16) solid;
        }
        h3{
            font-size: 3rem;
            font-weight: bold;
            padding: 20px 0;
        }
        p{
            font-size: 2rem;
            padding-bottom: 10px;
        }
        a{
            display: block;
        }
        .git-url{
            display: block;
            margin: 0 10px 20px;
            color: #bababa;
            &:hover{
                background-color: #bababa;
                color: #fff;
                opacity: 1;
            }
        }
    }
}
.footer{
    text-align: center;
    margin-bottom: 50px;
}
@media screen and (max-width:1024px){
    .header{
        &-nav{
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: #fff;
        }
        &-list{
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-item{
                padding-right: 0 !important;
                margin-left: auto;
                margin-right: auto;
                &:not(:last-child){
                    margin-bottom: 50px;
                }
            }  
        }
    }
    .burger-btn{
        display: block;
        position: relative;
        width: 40px;
        height: 28px;
        background: none;
        border: none;
        appearance: none;
        cursor: pointer;
        span{
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #333;
            border-radius: 4px;
            transition: .3s;
            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2){
                top: 12px;
            }
            &:nth-child(3){
                bottom: 0;
            }
        }
        &.open span{
            &:nth-child(1){
                transform: translateY(12px) rotate(-45deg);
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                transform: translateY(-12px) rotate(45deg);
            }
        }      
    }
    body.noscroll{
        overflow: hidden;
    }
    .about{
        &-inner{
            flex-direction: column;
        }
    }
    .works{
        &-inner{
            justify-content: center;
            flex-direction: column;
        }
        &-box{
            display: block;
            width: 80%;
            margin: 0 auto 50px;
        }
    }
}