html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #575757;
}

a:hover {
  opacity: 0.7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 80px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.header-inner {
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}
.header-ttl {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
}
.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-list-item {
  font-size: 2rem;
}
.header-list-item:not(:last-child) {
  padding-right: 20px;
}

.burger-btn {
  display: none;
}

.fv {
  width: 100%;
  margin: 80px auto;
}
.fv img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-ttl {
  font-size: 4rem;
  font-weight: bold;
  padding-bottom: 50px;
  text-align: center;
}
.about-inner {
  font-family: "Noto Sans JP", sans-serif;
  padding: 0 30px 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-img {
  height: 250px;
  width: 250px;
  border-radius: 150px;
}
.about-wrapper {
  margin-left: 50px;
}
.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  margin-bottom: 30px;
}
.about-me dt {
  width: 30%;
}
.about-me dd {
  width: 70%;
}

.works {
  text-align: center;
}
.works-ttl {
  font-size: 4rem;
  font-weight: bold;
  padding-bottom: 50px;
}
.works-inner {
  font-family: "Noto Sans JP", sans-serif;
  padding: 0 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.works-box {
  width: calc((100% - 50px) / 3);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 50px;
}
.works-box img {
  width: 100%;
  border-bottom: 0.5px rgba(0, 0, 0, 0.16) solid;
}
.works-box h3 {
  font-size: 3rem;
  font-weight: bold;
  padding: 20px 0;
}
.works-box p {
  font-size: 2rem;
  padding-bottom: 10px;
}
.works-box a {
  display: block;
}
.works-box .git-url {
  display: block;
  margin: 0 10px 20px;
  color: #bababa;
}
.works-box .git-url:hover {
  background-color: #bababa;
  color: #fff;
  opacity: 1;
}

.footer {
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  .header-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
  }
  .header-list {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-list-item {
    padding-right: 0 !important;
    margin-left: auto;
    margin-right: auto;
  }
  .header-list-item:not(:last-child) {
    margin-bottom: 50px;
  }
  .burger-btn {
    display: block;
    position: relative;
    width: 40px;
    height: 28px;
    background: none;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer;
  }
  .burger-btn span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 4px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .burger-btn span:nth-child(1) {
    top: 0;
  }
  .burger-btn span:nth-child(2) {
    top: 12px;
  }
  .burger-btn span:nth-child(3) {
    bottom: 0;
  }
  .burger-btn.open span:nth-child(1) {
    -webkit-transform: translateY(12px) rotate(-45deg);
            transform: translateY(12px) rotate(-45deg);
  }
  .burger-btn.open span:nth-child(2) {
    opacity: 0;
  }
  .burger-btn.open span:nth-child(3) {
    -webkit-transform: translateY(-12px) rotate(45deg);
            transform: translateY(-12px) rotate(45deg);
  }
  body.noscroll {
    overflow: hidden;
  }
  .about-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .works-inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .works-box {
    display: block;
    width: 80%;
    margin: 0 auto 50px;
  }
}/*# sourceMappingURL=style.css.map */