body{
    font-family: "Ubuntu", sans-serif;
    font-size: clamp(1.875rem, 0.902rem + 1.52vw, 3.75rem);
    color: #575757;
}
@keyframes scroll-down1{
    from {
      transform: translateY(100%);
    }
      to {
      transform: translateY(-100%);
    }
}
@keyframes scroll-down2{
    from {
      transform: translateY(0);
    }
      to {
      transform: translateY(-200%);
    }
}
@keyframes scroll-up1{
    from {
      transform: translateY(-100%);
    }
      to {
      transform: translateY(100%);
    }
}
@keyframes scroll-up2{
    from {
      transform: translateY(-200%);
    }
      to {
      transform: translateY(0);
    }
}
@keyframes txt-animation1{
    0%{
        transform: translateX(-100%);
        opacity: 0;
        }
    100%{
        transform: translateX(0);
       opacity: 1;
    }
  }
  @keyframes txt-animation2{
    0%{
        transform: translateX(100%);
        opacity: 0;
        }
    100%{
        transform: translateX(0);
       opacity: 1;
    }
  }
  @keyframes rotate {
    0% {
      -webkit-transform: rotateZ(0deg);
              transform: rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateZ(360deg);
              transform: rotateZ(360deg);
    }
  }
  @keyframes stop1{ 
    0% {stop-color: #575757;}
    100% {stop-color: #00ffd5;}
 }
 @keyframes stop2{ 
    0% {stop-color: #575757;}
    100% {stop-color: #00ffd5;}
 }
 @keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
a:hover{
    opacity: .7;
    transition: .5s;
}
.sp-br{
    display: none;
}
.header{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    &-inner{
        max-width: 1400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0 3rem;
        
    }
    &-ttl{
        display: flex;
        font-size: 33px;
        font-weight: bold;
        text-align: center;
        font-family: "Sankofa Display", sans-serif;
        white-space: nowrap;
        overflow: hidden;
        margin-left: 50px;
        p{
            animation: txt-animation1 1.5s ease-out;
            padding-left: 15px;
        }
        &-icon{
            display: flex;
            svg{
                width: 50px;
                fill: url(#gradient);
                animation: rotate 15s linear infinite;
                #stop1{
                    animation: stop1 5s ease-in-out infinite alternate;
                }
                #stop2{
                    animation: stop2 5s ease-in-out infinite alternate;
                }
            }
        }
    }
    &-list{
        display: flex;
        animation: txt-animation2 1.5s ease-out;
        margin-right: 50px;
        &-item{
            font-size: 1.5rem;
            &:not(:last-child){
                padding-right: 30px;
            }
        }
    }
}
.loop{
    white-space: nowrap;
    &-wrapper{
        position: fixed;
        width: 20px;
        height: 100%;
        z-index: 998;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: #575757;
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
        }
        li{
            display: flex;
            justify-content: center;
            font-size: 16px;
            letter-spacing: 16px;
            color: #fff;
            padding-bottom: 16px;
        }
    }
    &-down{
        left: 0;
        ul{
            &:first-of-type{
                animation: scroll-down1 96s -48s linear infinite;
            }
            &:last-of-type{
                animation: scroll-down2 96s linear infinite;
            }
            li{
                writing-mode: vertical-rl;
            }
        }
    }
    &-up{
        right: 0;
        ul{
            &:first-of-type{
                animation: scroll-up1 96s -48s linear infinite;
            }
            &:last-of-type{
                animation: scroll-up2 96s linear infinite;
            }
            li{
                writing-mode: vertical-lr;
            }
        }
    }
}
.burger-btn{
    display: none;
}
.fv{
    margin: 80px auto;
    padding: 0 20px;
    &-item{
        position: relative;
        img{
            border: #000 2px solid;
        }
        p{
            display: block;
            position: absolute;
        }
        &-txt{
            &01{
                left:55%;
                top: 75%;
                color: #fff;
            }
            &02{
                left: 50%;
                top: 50%;
                color: #fff;
            }
            &03{
                left: 50%;
                transform: translateX(-50%);
                top: 47%;
                color: #fff;
            }
            &04{
                left: 50%;
                transform: translateX(-50%);
                top: 80%;
                color: #fff;
                background-color: #57575780;
                padding: 0 1rem;
                line-height: 1.5;
                white-space: nowrap;
            }
            &05{
                left: 50%;
                transform: translateX(-50%);
                top: 80%;
                color: #fff;
                background-color: #57575780;
                padding: 0 1rem;
                line-height: 1.5;
            }
        }
    }
    &-message{
        display: flex;
        justify-content: center;
        text-align: center;
        font-style: italic;
        font-size: 3rem;
        font-weight: 800;
        animation: gradient 15s ease infinite;
        background: linear-gradient(to right, #1d60fd, #00ffd5, #f3fe93);
        background-size: 200% 100%;
        background-clip: text;
        color: transparent;
    }
}
.about{
    &-ttl{
        font-size: 4rem;
        font-weight: bold;
        padding-bottom: 50px;
        text-align: center;
    }
    &-inner{
        padding: 0 30px 50px;
        margin: 0 auto;
        color: #000;
    }
    &-data{
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        text-align: center;
    }
    &-img{
        height: 10rem;
        width: 10rem;
        border-radius: 150px;
    }
    &-name{
        h3{
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1;
        }
        p{
            font-size: 1rem;
        }
    }
    &-txt{
        font-family: "Zen Kurenaido", sans-serif;
        display: block;
        margin-top: 1.5rem;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }
}
.skill{
    &-ttl{
        font-size: 4rem;
        font-weight: bold;
        padding-bottom: 50px;
        text-align: center;
    }
    &-inner{
        
        padding: 0 30px 50px;
        margin: 0 auto;
    }
    &-list{
        display: flex;
        justify-content: center;
        gap: 5%;
        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 8rem;
            gap: 1rem;
            color: #000;
            p{
                font-size: 2rem;
            }
            svg{
                width: 7rem;
                height: 7rem;
            }
        }
    }
}
.works{
    text-align: center;
    &-ttl{
        font-size: 4rem;
        font-weight: bold;
    }
    &-inner{
        font-family: "Noto Sans JP", sans-serif;
        margin: 0 30px;
        &-ttl{
            margin-top: 50px;
            margin-bottom: -5px;
            font-size: 3rem;
            line-height: 3;
            font-weight: bold;
            border-radius: 3px;
        }
    }
    &-wrapper{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: #000 5px solid;
        border-radius: 3px;
    }
    &-box{
        width: calc((100% - 100px) / 3);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        margin: 15px;
        img{
            width: 100%;
            border-bottom: .5px rgba(0, 0, 0, 0.16) solid;
        }
        h3{
            font-size: 3rem;
            font-weight: bold;
            padding: 20px 0;
        }
        p{
            font-size: 2rem;
            padding-bottom: 10px;
        }
        a{
            display: block;
            font-size: 1.5rem;
        }
        .git-url{
            font-family: "Ubuntu", sans-serif;
            display: block;
            margin: 0 10px 20px;
            color: #bababa;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:hover{
                background-color: #bababa;
                color: #fff;
                opacity: 1;
            }
        }
    }
}
.webapp{
    border-color: rgb(110, 146, 255);
    &-ttl{
        background-color: rgb(110, 146, 255);
        color: #000;
    }
}
.website{
    border-color: rgb(255, 110, 231);
    &-ttl{
        background-color: rgb(255, 110, 231);
        color: #000;
    }
}
.footer{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 50px;
    margin-bottom: 50px;
}
@media screen and (max-width:1024px){
    html{
        font-size: clamp(0.625rem, 0.227rem + 1.99vw, 1.5rem);
    }
    .header{
        &-inner{
            justify-content: center;
        }
        &-ttl{
            margin-left: -50px;
        }
        &-nav{
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: #fff;
        }
        &-list{
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            &-item{
                padding-right: 0 !important;
                margin-left: auto;
                margin-right: auto;
                &:not(:last-child){
                    margin-bottom: 50px;
                }
            }  
        }
    }
    .burger-btn{
        display: block;
        position: absolute;
        top: 26.5px;
        right: 30px;
        width: 40px;
        height: 28px;
        background: none;
        border: none;
        appearance: none;
        cursor: pointer;
        span{
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #333;
            border-radius: 4px;
            transition: .3s;
            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2){
                top: 12px;
            }
            &:nth-child(3){
                bottom: 0;
            }
        }
        &.open span{
            &:nth-child(1){
                transform: translateY(12px) rotate(-45deg);
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                transform: translateY(-12px) rotate(45deg);
            }
        }      
    }
    body.noscroll{
        overflow: hidden;
    }
    .about{
        &-txt{
            font-size: 1.4rem;
            letter-spacing: -1px;
            white-space: nowrap;
        }
    }
    .skill{
        &-list{
            gap: 1rem;
            justify-content: space-between;
            flex-wrap: wrap;
            li{
                width: calc(33% - 1rem);
                p{
                    font-size: 1.5rem;
                }
            }
        }
    }
    .works{
        &-sp{
            display: flex;
            flex-direction: column-reverse;
        }
        &-inner{
            justify-content: center;
            flex-direction: column;
            &-ttl{
                line-height: 2;
            }
        }
        &-wrapper{
            padding-top: 50px;
        }
        &-box{
            display: block;
            width: 80%;
            margin: 0 auto 50px;
            h3{
                font-size: 2.5rem;
            }
            p{
                font-size: 1.4rem;
            }
        }
    }
}
@media screen and (max-width:768px){
    .sp-br{
        display: block;
    }
    .fv-message{
        margin-top: 80px;
    }
}